<div class="container-fluid">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/nwu_logo.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{cardTitle}}</h5>
              <p class="card-text">{{cardSubtitle}}</p>
              <p class="card-text">
                  Mr. A Lombaard <br>
                  Mr. HFR Potgieter <br>
                  Mr. D van der Walt <br>
              </p>
            </div>
          </div>
        </div>
      </div>
</div>