<div class="container">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{cardPreTitle}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{cardPreSubtitle}}</h6>
          <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Software Name</th>
                <th scope="col">Description</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>{{vmWare}}</td>
                <td>{{vmDescription}}</td>
                <td> <a href={{vmWareLink}}>Link</a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>{{kali}}</td>
                <td>{{kaliDescription}}</td>
                <td> <a href={{kaliLink}}>Link</a></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>{{metasploitTable}}</td>
                <td>{{metasploitTableDescription}}</td>
                <td> <a href={{metasploitTableLink}}>Link</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{cardWalkTile}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{cardWalkSubTitle}}</h6>

          
          <div class="text-center">
            <h4>1. {{vmWare}} installation tutorial</h4>
            <youtube-player class="ytube"
              videoId="9QXXyG0hKtI"
              suggestedQuality="highres"
              [height]="600"
              [width]="800"
              [endSeconds]="60">
            </youtube-player>  
         </div>

        
          <div class="text-center">
            <h4>2. {{kali}} installation tutorial</h4>
            <youtube-player class="ytube"
              videoId="UbGYDDnFAEg"
              suggestedQuality="highres"
              [height]="600"
              [width]="800"
              [endSeconds]="60">
            </youtube-player>  
         </div>

        
          <div class="text-center">
            <h4>3. {{metasploitTable}} installation tutorial</h4>
            <youtube-player class="ytube"
              videoId="s4-N2sfmJe8"
              suggestedQuality="highres"
              [height]="600"
              [width]="800"
              [endSeconds]="60">
            </youtube-player>  
         </div>

      </div>
    </div>
</div>
