.card{
    margin-top:0.8rem;
    margin-bottom:0.8rem;
}

.ytube{
    margin-top: 00.8rem;
    margin-bottom: 0.8rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
}

#acc_card{
    background-color: #116466
}