<div class="container-fluid">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{cardTitle}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{cardSubtitle}}</h6>
          <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Software Name</th>
                <th scope="col">Description</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>{{vmWare}}</td>
                <td>Otto</td>
                <td> <a href="#">{{vmWareLink}}</a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
